{{ template "base" . }}

{{ define "content" }}
<div class="jumbotron">
  <div class="container text-center">
    <h1>Welcome</h1>      
    <p>Some text that represents "Me"...</p>
  </div>
</div>
{{ end }}